body {
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    animation: moveBackground 20s linear infinite alternate;
    background-image: url('o.jpg'); /* Specify the path to your background image */
    background-size: cover;
    background-repeat: no-repeat;
}

@keyframes moveBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}

header {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8); /* Dark background color for header */
    padding: 20px;
    text-align: center;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

h1 {
    margin: 0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6); /* Dark background color for content */
    border-radius: 10px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input, .input-group select {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent white background */
    color: white;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff; /* Blue button color */
    color: white;
    cursor: pointer;
    font-weight: bold; /* Make the text bold */
}

button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

#result {
    margin-top: 20px;
}

.result-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.result-box {
    flex: 0 1 48%; /* Adjusted to fit two boxes side by side */
    margin-bottom: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.result-number {
    font-size: 32px;
    font-weight: bold;
    margin-top: 10px;
}

.result-text {
    font-size: 18px;
}

.health-tip-box {
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.health-tip-box h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.health-tip-box p {
    font-size: 18px;
}
